<div class="flex h-[9.375vh] justify-between">
  <div class="flex flex-1 justify-center items-center ml-[1.9444vw]">
    <img
      src="assets/icons/Logo.svg"
      alt="Logo"
      class="w-[95px] h-[38.26px]"
      (click)="navigateTo('home')"
    />
  </div>

  <!-- 마이페이지 및 검색 아이콘(ui 수정으로 인한 주석처리) 
    <div class="flex flex-1 justify-end mr-[1.9444vw]">
    <button
      (click)="(onClick)"
      class="bg-transparent border-none cursor-pointer mr-[1.9444vw] p-0"
    >
      <img
        src="assets/icons/Search_light.svg"
        alt="Search"
        class="h-[4.6875vh] w-[8.3333vw]"
      />
    </button>
    <button
      (click)="(onClick)"
      class="bg-transparent border-none cursor-pointer mr-[1.9444vw] p-0"
    >
      <img
        src="assets/icons/User_alt_light.svg"
        alt="My Page"
        class="h-[4.6875vh] w-[8.3333vw]"
      />
    </button>
  </div>
</div> -->
</div>
