<img *ngIf="isLoading" src="./assets/load.gif" alt="로딩 중" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" width="25%" height="25%" />
<div class="font-bold flex flex-col items-center justify-center mb-3">
  튜터 수정
</div>
<form class="mx-8" enctype="multipart/form-data" [formGroup]="updateForm">
  <div class="flex flex-col items-center justify-center">
    <!-- 클릭하면 파일 입력을 활성화 -->
    <div
      class="w-24 h-24 rounded-full mb-5 overflow-hidden relative bg-white border-2 border-dark-purple flex items-center justify-center cursor-pointer"
      (click)="fileInput.click()"
    >
      <!-- 이미지가 없는 경우 hide -->
      <!-- beforeImgUrl 이미지 -->
      <div
        class="w-full h-full object-cover"
        [class.hidden]="afterImgUrl != null"
      >
        <img [src]="beforeImgUrl" />
      </div>

      <!-- imgFile 이미지 -->
      <div
        class="w-full h-full object-cover"
        [class.hidden]="afterImgUrl == null"
      >
        <img [src]="afterImgUrl" />
      </div>

      <div class="flex items-center justify-center">
        <!-- 이미지파일만 업로드 가능 -->
        <input
          #fileInput
          type="file"
          formControlName="imgFile"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
        <!-- 이미지가 있는 경우 + hide -->
        <div
          class="text-5xl text-dark-purple font-thin"
          [class.hide]="isImageUploaded"
        >
          +
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="text-base font-bold">
      튜터 명 @if(getName().invalid && getName().touched){
      <span class="text-red-500 text-xs font-thin">튜터 명을 입력해주세요</span>
      }
    </div>
    <input
      type="text"
      class="input-under-bar"
      formControlName="name"
      placeholder="ex. OO대학교 자문 튜터"
      maxlength="20"
    />
    <div class="text-base font-bold">
      튜터 소개 @if(getExplain().invalid && getExplain().touched){
      <span class="text-red-500 text-xs font-thin"
        >튜터 소개를 입력해주세요</span
      >
      }
    </div>
    <textarea
      type="text"
      class="input-under-bar"
      formControlName="description"
      placeholder="튜터 설명을 작성해주세요."
      rows="3"
    ></textarea>
    <div class="text-base font-bold">
      튜터 규칙 설정 @if(getRule().invalid && getRule().touched){
      <span class="text-red-500 text-xs font-thin"
        >튜터 규칙을 입력해주세요</span
      >
      }
    </div>
    <div class="text-xs">
      튜터가 어떤 규칙에 따라 답변을 작성할지 설정합니다.
    </div>
    <textarea
      type="text"
      class="input-under-bar"
      formControlName="instruction"
      placeholder="ex. 한국어로 답변합니다."
      rows="6"
    ></textarea>
    <button
      type="button"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="generateInstruction()"
    >
      Generate Instruction
    </button>
    <div class="text-base font-bold">튜터 기반 정보(선택사항)</div>
    <div class="text-xs mb-2.5">
      튜터에게 사전에 제공할 자료를 추가할 수 있습니다. <br />
      파일 형식은 TXT, PDF 등을 지원합니다. (최대 2개)
    </div>
    <input
      type="file"
      id="file-input1"
      formControlName="file1"
      (change)="onFileSelect($event)"
      hidden
    />
    <label
      for="file-input1"
      class="file-upload-icon"
      [class.hide]="isFileUploaded"
    >
      <span [class.hide]="isFileUploaded">+</span>
      <span class="block w-full text-center" [class.hide]="!isFileUploaded">
        {{fileName1}}
      </span>
      <span
        (click)="deleteFile1()"
        [class.hide]="!isFileUploaded"
        class="absolute right-11 pr-1 pl-2.5 font-normal text-sm"
        >✕</span
      >
    </label>

    <div [class.hide]="isFileUploaded">
      <input
        type="file"
        id="file-input2"
        formControlName="file2"
        (change)="onFileSelect2($event)"
        hidden
      />
      <label
        for="file-input2"
        class="file-upload-icon"
        [class.hide]="isFileUploaded2"
      >
        <span [class.hide]="isFileUploaded2">+</span>
        <span [class.hide]="!isFileUploaded2">{{ fileName2 }}</span>
        <span
          (click)="deleteFile2($event)"
          [class.hide]="!isFileUploaded2"
          class="absolute right-11 pr-1 pl-2.5 font-normal text-sm"
          >✕</span
        >
      </label>
    </div>
    <div class="text-base font-bold mt-1.5">튜터 성향</div>
    <div class="text-xs">튜터의 성향을 설정합니다.</div>
    <div class="flex items-center justify-center text-sm font-bold mb-1">
      성격
    </div>
    @if(getPersonality().invalid && getPersonality().touched){
    <span
      class="flex items-center justify-center text-red-500 text-xs font-thin"
      >성격을 선택해주세요</span
    >
    }
    <div class="flex justify-center items-center h-full mb-4">
      <mat-chip-listbox
        formControlName="personality"
        aria-label="Personality selection"
      >
        <mat-chip-option class="p-2" value="Kindness">상냥</mat-chip-option>
        <mat-chip-option class="p-2" value="Seriousness">진지</mat-chip-option>
        <mat-chip-option class="p-2" value="Humorousness">유머</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="flex items-center justify-center text-sm font-bold mb-1">
      보이스 성별
    </div>
    @if(getVoice().invalid && getVoice().touched){
    <span
      class="flex items-center justify-center text-red-500 text-xs font-thin"
      >보이스 성별을 선택해주세요</span
    >
    }
    <div class="flex justify-center items-center h-full mb-4">
      <mat-chip-listbox formControlName="voice" aria-label="Voice selection">
        <mat-chip-option class="p-2" value="Female">여성</mat-chip-option>
        <mat-chip-option class="p-2" value="Male">남성</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="flex items-center justify-center text-sm font-bold mb-1">
      존대 여부
    </div>
    @if(getAccent().invalid && getAccent().touched){
    <span
      class="flex items-center justify-center text-red-500 text-xs font-thin"
      >존대 여부를 선택해주세요</span
    >
    }
    <div class="flex justify-center items-center h-full mb-4">
      <mat-chip-listbox
        formControlName="speechLevel"
        aria-label="Accent selection"
      >
        <mat-chip-option value="Formal">경어체</mat-chip-option>
        <mat-chip-option value="Informal">평어체</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="flex justify-center items-center mb-4">
      <button
        type="submit"
        (click)="submitForm()"
        class="bg-dark-purple text-white rounded-2xl h-10 w-1/2 mr-1"
      >
        수정하기
      </button>
      <button
        (click)="deleteForm()"
        class="bg-dark-purple text-white rounded-2xl h-10 w-1/2 ml-1"
      >
        삭제하기
      </button>
    </div>
  </div>
</form>
